/*
Plugin Name: vQuiz.js
Plugin version: 1.0.0
Plugin Author: vishwajeet kumar
About Plugin: This is a small javascript plugin to create a quiz system on web with instant answer check and explanation on clicking any answer.
 */
#vquiz{
	padding: 20px 30px;
}
.vQContainer{
	padding: 10px 10px;
    background-color: aliceblue;
    margin: 20px 0px;
}
.vQustion{
	background-color: #673AB7;
	padding: 10px 10px;
	margin-bottom: 10px;
    color: white;
}
.vAnswer{
	background: beige;
    padding: 7px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.vHint{
	background: #FFEB3B;
    padding: 7px 15px;
    margin-bottom: 10px;
    display: none;
}
.vRight{
	background: #4CAF50;
	color: white;
}
.vWrong{
	background: #F44336;
	color: white;
}
.vrighticon{
    display: none;
}
.vwrongicon{
    display: none;
}